<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Panucci's Pizza</title>
	<link rel="stylesheet" href="/styles.css">
</head>

<body>

	<div class="title">
		<div><img src="/images/logo.jpg" class="thumbnail"></div>
		<h2>Panucci's Pizza</h2>
	</div>

	<form method="POST" th:action="@{/pizza}" th:object="${pizza}">
		<div>
			<h2>Select a pizza</h2>
			<table>
				<tr>
					<td>
						<div>
							<img src="/images/Bella.png" class="pizza">
						</div>
						<div>
							<input type="radio" name="pizza" value="bella" th:field="*{type}"> Bella
						</div>
					</td>
					<td>
						<div>
							<img src="/images/Margherita.png" class="pizza">
						</div>
						<div>
							<input type="radio" name="pizza" value="margherita" th:field="*{type}"> Margherita
						</div>
					</td>
					<td>
						<div>
							<img src="/images/Marinara.png" class="pizza">
						</div>
						<div>
							<input type="radio" name="pizza" value="marinara" th:field="*{type}"> Marinara
						</div>
					</td>
					<td>
						<div>
							<img src="/images/SpianataCalabrese.png" class="pizza">
						</div>
						<div>
							<input type="radio" name="pizza" value="spianatacalabrese" th:field="*{type}"> Spianata
							Calabrese
						</div>
					</td>
					<td>
						<div>
							<img src="/images/TrioFormaggio.png" class="pizza">
						</div>
						<div>
							<input type="radio" name="pizza" value="trioformaggio" th:field="*{type}"> Trio Formaggio
						</div>
					</td>
				</tr>
				<div class="error" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>
				<tr>
					<td>Size:</td>
					<td>
						<select name="size" th:field="*{size}">
							<option value="sm">Small</option>
							<option value="md">Medium</option>
							<option value="lg">Large</option>
						</select>

						<div class="error" th:if="${#fields.hasErrors('size')}" th:errors="*{size}"></div>
					</td>
				</tr>
				<tr>
					<td>Quantity:</td>
					<td>
						<input type="number" name="quantity" th:field="*{quantity}">
						<div class="error" th:if="${#fields.hasErrors('quantity')}"
							th:errors="*{quantity}"></div>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button type="submit">Next</button>
					</td>
				</tr>
			</table>
		</div>
	</form>

</body>

</html>