<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Order Confirmation</title>
</head>

<body>

    <h1>Delivery Details</h1>


    <p>Order Number: <a th:href="@{/order/{id}(id=${map.orderID})}" th:text="${map.orderID}"></a></p>
    <p>Your order will be delivered to <span th:text="${customer.address}"></span></tp>
    <p>Pizza cost: <span th:text="${map.cost}"></span></p>
    <p th:if="${customer.rush}">Rush: $2</p>
    <p>Total cost: <span th:text="${map.totalCost}"></span></p>

</body>

</html>